* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background: #e1e1e1;
}

main {
    padding: 48px 0;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 640px;
}

/* header */

.header {
    margin: 0 0 24px 0;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    color: #000000;
    white-space: nowrap;
}

.header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}

/* form */

.form {
    margin: 0 0 24px 0;
    padding: 24px;
    background: #f2f7f5;
    box-shadow: 0 0 0 2px #000, 8px 8px #000;
    border-radius: 4px; 
}

.form h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    text-align: center;
}

.form-header {
    margin: 0 0 8px;
}

.form-wrapper {
    margin: 0 0 16px;
}

.form-group {
    margin: 0 0 8px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}

.form-group input {
    padding: 4px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    outline: none;
}

.form-group input::placeholder {
    color: rgba(0, 0,0, 0.2);
}

.form-group input[type=checkbox] {
    width: 16px;
}

.form-footer {
    display: flex;
    justify-content: end;
}

.form-footer button {
    margin: 0 0 0 16px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    background: #ECFE75;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #000, 6px 6px #000;
    cursor: pointer;
}

.form-footer button.edit {
    display: none;
}

.form-footer button.cancel {
    display: none;
    background: none;
}

/* shelf */

.shelf-header {
    margin: 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shelf-header h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    color: #000000;
    white-space: nowrap;
}

.shelf-header input {
    padding: 4px 0;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    outline: none;
}

.shelf-content {
    margin: 0 0 24px 0;
    padding: 24px;
    background: #f2f7f5;
    box-shadow: 0 0 0 2px #000, 8px 8px #000;
    border-radius: 4px; 
}

.shelf-content-title {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    text-align: center;
}

.shelf-content-item {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9ca3af;
}

.shelf-content-item:last-child {
    border: none;
}

.shelf-content-item h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
}

.shelf-content-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}

.shelf-content-item-action {
    display: flex;
    align-items: center;
}

.shelf-content-item-action button {
    margin: 0 0 0 8px;
    padding: 2px;
    background: none;
    border: none;
    cursor: pointer;
}

.alert {
    top: -64px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 16px;
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    background: #f2f7f5;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #000;
    transition: all 0.3s ease-in-out;
}

.alert.active {
    top: 16px;
}

@media screen and (max-width: 768px) {

    main {
        padding: 32px 0;
    }
    
    .container {
        margin: 0 auto;
        padding: 0 16px;
        max-width: 640px;
    }
    
    /* header */
    
    .header {
        margin: 0 0 16px 0;
    }

    .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header h2 {
        font-size: 20px;
        font-weight: 800;
        line-height: 150%;
        color: #000000;
        white-space: nowrap;
    }

    .header p {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: #000000;
    }

    /* form */

    .form {
        margin: 0 0 24px 0;
        padding: 16px;
        background: #f2f7f5;
        box-shadow: 0 0 0 2px #000, 8px 8px #000;
        border-radius: 4px; 
    }

    .form h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
        text-align: center;
    }

    .form-header {
        margin: 0 0 8px;
    }

    .form-wrapper {
        margin: 0 0 16px;
    }

    .form-group {
        margin: 0 0 8px;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        margin: 0 0 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        color: #000000;
    }

    .form-group input {
        padding: 4px 0;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: #000000;
        background: none;
        border: none;
        border-bottom: 2px solid #000000;
        border-radius: 0;
        outline: none;
    }

    .form-group input::placeholder {
        color: rgba(0, 0,0, 0.2);
    }

    .form-group input[type=checkbox] {
        width: 16px;
    }

    .form-footer {
        display: flex;
        justify-content: end;
    }

    .form-footer button {
        margin: 0 0 0 16px;
        padding: 6px 16px;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
        background: #ECFE75;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 0 2px #000, 6px 6px #000;
        cursor: pointer;
    }

    .form-footer button.edit {
        display: none;
    }

    .form-footer button.cancel {
        display: none;
        background: none;
    }

    /* shelf */

    .shelf-header {
        margin: 0 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shelf-header h2 {
        font-size: 20px;
        font-weight: 800;
        line-height: 150%;
        color: #000000;
        white-space: nowrap;
    }

    .shelf-header input {
        padding: 4px 0;
        max-width: 140px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: #000000;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #000000;
        outline: none;
    }

    .shelf-content {
        margin: 0 0 24px 0;
        padding: 16px;
        background: #f2f7f5;
        box-shadow: 0 0 0 2px #000, 8px 8px #000;
        border-radius: 4px; 
    }

    .shelf-content-title {
        margin: 0 0 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
        text-align: center;
    }

    .shelf-content-item {
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #9ca3af;
    }

    .shelf-content-item:last-child {
        border: none;
    }

    .shelf-content-item h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
    }

    .shelf-content-item p {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        color: #000000;
    }

    .shelf-content-item-action {
        display: flex;
        align-items: center;
    }

    .shelf-content-item-action button {
        margin: 0 0 0 4px;
        padding: 2px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .alert {
        top: -64px;
        left: 50%;
        transform: translateX(-50%);
        padding: 4px 8px;
        position: fixed;
        font-size: 12px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
        text-align: center;
        background: #f2f7f5;
        border-radius: 4px;
        box-shadow: 0 0 0 2px #000;
        transition: all 0.3s ease-in-out;
    }

    .alert.active {
        top: 16px;
    }
}